<!DOCTYPE HTML>
<HTML ng-app="app">
  <head>
    <title>Video yy Fotografia Castro</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-resource.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link href="css/style.less" rel="stylesheet/less" type="text/css">
    <script type="text/javascript" src="https://rawgithub.com/less/less.js/master/dist/less-1.6.1.min.js"></script>

  </head>
  <body>
    <header class="navbar" role="banner" ng-controller="navigation">
      <ul class="nav nav-pills navigator">
        <li class="element" ng-repeat="item in menu" ng-click="setSel($index)" ng-class="{'active':sel==$index}">
          <a href="#/{{item}}">{{item | uppercase}}</a>
        </li>
      </ul>
    </header>
    <div class="container">
      <div ng-view role="main"></div>
    </div>
  </body>
</HTML>
